*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
 }
.app{
  background-image: url('./assets/Sunny.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.4s ease-out;
}
.app.sunny{
  background-image: url('./assets/Sunny.png');
}
.app.rainy{
  background-image: url('./assets/Rainy.png');
}
.app.cool{
  background-image: url('./assets/Cool.png');
}
main{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.02));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  outline: none;
  font-size: 20px;
  border: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);

  color: #313131;
  transition: 0.4s ease-out;
}
.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}

.location-box .location{
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 15px rgba(50,50,70,0.5);
}
.location-box .date{
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 15px rgba(50,50,70,0.5);
}
.weather-box{
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 15px rgba(50,50,70,0.5);
}
.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color:#fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px 15px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px 15px rgba(0,0,0,0.2);
}
.weather-box .weather{
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 6px 15px rgba(50,50,70,0.5);
}